<div class="bg-theme-light dark:bg-darkmode-theme-light rounded p-8 flex author">
  <div class="w-3/12 flex items-center">
    {{ $image := .Params.image }}
    {{ if $image }}
      {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "mx-auto mb-6 rounded" "Size" "240x") }}
    {{ end }}
  </div>
  <div class="w-9/12 pl-4">
    <h4 class="mb-3">
      {{ .Title }}
    </h4>
    <div class="authorContent pb-4">
      {{ .Content }}
    </div>
    <ul class="social-icons">
      {{ range .Params.social }}
        <li>
          <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow">
            <span class="sr-only">{{ .title }}</span>
            <i class="{{ .icon }}"></i>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
</div>
