<div class="bg-body dark:bg-darkmode-body">
  {{ $image:= .Params.image }}
  {{ if $image }}
    {{ partial "image2" (dict "Src" $image "Alt" .Title "Class" "mb-6 w-full rounded" "Size" "720x400" "Command" "Fill") }}
  {{ end }}
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h4>
  <ul class="mb-4">
    <li class="mr-4 inline-block">
      <i class="fa-regular fa-circle-user mr-2"></i>{{ .Params.author }}
    </li>
  </ul>
  <p class="mb-6">{{ .Summary }}</p>
</div>
