<div class="">
  {{ $image := .Params.image }}
  {{ if $image }}
    <a href="{{ .RelPermalink }}">
      {{ partial "override-image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "mb-6 w-full rounded" "Size" "500x") }}
    </a>
  {{ end }}
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h4>
  <ul class="mb-4">
    <li class="mr-4 inline-block">
      <i class="fa-regular fa-circle-user mr-2"></i>{{delimit .Params.author ", "}}
    </li>
    {{ if .Params.date }}
    <li class="mr-4 inline-block">
      <i class="fa-regular fa-calendar mr-2"></i>{{ dateFormat "January 2, 2006" .Params.date }}
    </li>
    {{ end }}
        {{ if .Params.upcoming }}
    <li class="mr-4 inline-block">
      <i class="fa-regular fa-clock mr-2"></i>{{ partial "timeConv" .Params.start_time }} - {{ partial "timeConv" .Params.end_time }} {{ .Params.time_zone }}
    </li>
    {{ end }}
  </ul>
  <p class="mb-6">{{ .Description }}</p>
</div>
