<!-- Active Products List -->
<div class="mb-4">
  <ul>
    {{ $parts := split .File.Dir "/" }}
    {{ $subsection := index $parts 2 }}
    {{ $sortedPages := sort .Site.RegularPages "Params.stars" "desc" }}
    {{ $neuromorphicPages := where $sortedPages "Params.type" "neuromorphic-software" }}

    {{ range $neuromorphicPages }}
        {{ $pageparts := split .File.Dir "/" }}
        {{ $pageSubsection := index $pageparts 2 }}
        {{ if or (eq $subsection $pageSubsection) (not $subsection) }}
            <li class="mb-4 bg-theme-light dark:bg-darkmode-theme-light rounded p-8">
                <div class="flex flex-col sm:flex-row items-center justify-between">
                    <h3 class="text-lg font-semibold mb-2 sm:mb-0">
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </h3>
                    <div class="flex items-center">
                        {{ if .Params.version_widget_url }}
                            <img class="inline" style="height: 30px;" src="{{ .Params.version_widget_url }}" alt="Version">
                        {{ end }}
                        {{ if .Params.stars_widget_url }}
                            <img class="inline pl-2" style="height: 30px;" src="{{ .Params.stars_widget_url }}" alt="Stars">
                        {{ end }}
                    </div>
                </div>
                <p class="my-4">{{ .Params.description }}</p>
                <ul class="list-none pl-5">
                    <li><b>Website:</b> <a href="{{ .Params.website }}" target="_blank">{{ .Params.website }}</a></li>
                    <li><b>Source Code:</b> <a href="{{ .Params.source_code }}" target="_blank">{{ .Params.source_code }}</a></li>
                    <li><b>License:</b> {{ .Params.license }}</li>
                </ul>
                <div class="mt-3 lg:flex justify-between">
                    <div class="lg:flex lg:flex-wrap items-center sm:pb-3 lg:pb-0">
                        {{ if .Params.supports_NIR }}
                            <span class="bg-blue-100 text-blue-800 text-normal font-medium me-2 px-2 py-0.5 mt-3 rounded dark:bg-gray-700 dark:text-blue-200 border border-blue-400">NIR Support</span>
                        {{ end }}
                        {{ if .Params.supports_hardware }}
                            <span class="bg-blue-100 text-blue-800 text-normal font-medium me-2 px-2 py-0.5 mt-3 rounded dark:bg-gray-700 dark:text-blue-200 border border-blue-400">Hardware Support</span>
                        {{ end }}
                    </div>
                    <div class="flex items-center">
                        <a href="{{ .Permalink }}" class="btn-primary btn">View Details</a>
                    </div>
                </div>
            </li>
        {{ end }}
    {{ end }}
  </ul>
</div>
