<div class="bg-theme-light dark:bg-darkmode-theme-light rounded p-8 flex flex-col md:flex-row author">
  <div class="w-full md:w-3/12 flex justify-center md:justify-start items-center">
    {{ $image := .image }}
    {{ if $image }}
    {{ partial "image" (dict "Src" $image "Alt" .name "Class" "mx-auto mb-4 md:mb-0 rounded" "Size" "240x") }}
    {{ end }}
  </div>
  <div class="w-full md:w-9/12 md:pl-4 text-center md:text-left">
    <h4 class="mb-3">
      {{ .name }}
    </h4>
    <div class="authorContent pb-4">
      {{ .description | markdownify }}
    </div>
    <ul class="social-icons flex justify-center md:justify-start">
      {{ range .social }}
      <li class="mx-2">
        <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow">
          <span class="sr-only">{{ .title }}</span>
          <i class="{{ .icon }}"></i>
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>
