{{ $events := where .Site.RegularPages "Params.upcoming" "eq" true }}
{{ if $events }}
  {{ $sortedUpcomingEvents := slice }}
  {{ range $events }}
    {{ $sortedUpcomingEvents = $sortedUpcomingEvents | append . }}
  {{ end }}
  {{ $sortedUpcomingEvents = sort $sortedUpcomingEvents "Params.date" }}
  {{ $upcomingCount := len $sortedUpcomingEvents }}
  {{ $maxItems := 4 }} <!-- Define the maximum number of items to display -->
  {{ $offset := 1 }} <!-- Define the offset value -->
<h3 class="text-xl pb-4">Upcoming Workshops</h3>
  <div class="flex flex-wrap -mx-4"> <!-- Add flex and flex-wrap for horizontal layout -->
    {{ range $index, $event := $sortedUpcomingEvents }}
      {{ if and (lt $index $maxItems) (ge $index $offset) }} <!-- Check the offset condition -->
        <!-- col-4 for each event -->
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/3 px-4 mb-1">
          <div class="mb-1">
            <a href="{{ $event.Permalink }}" class="flex">
              {{ $event.Title }}<br>
            </a>
            <i class="fa-regular dark:text-gray-300 text-gray-600 fa-circle-user mr-2"></i>{{delimit .Params.author ", "}}<br>
            <i class="fa-regular dark:text-gray-300 text-gray-600 fa-calendar mr-2"></i>{{ dateFormat "2006, Jan 2" $event.Params.Date }}&nbsp;&nbsp;&nbsp;
            <i class="fa-regular dark:text-gray-300 text-gray-600 fa-clock mr-2"></i>{{ partial "timeConv" $event.Params.start_time }}- {{ partial "timeConv" $event.Params.end_time}} {{ $event.Params.time_zone }}
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
{{ else }}
  <!-- Handle the case where there are no upcoming events -->
  <p>No upcoming events.</p>
{{ end }}
