{{ $events := where .Site.RegularPages "Params.upcoming" "eq" true }}
{{ if $events }}
{{ $sortedUpcomingEvents := slice }}
{{ range $events }}
{{ $sortedUpcomingEvents = $sortedUpcomingEvents | append . }}
{{ end }}
{{ $sortedUpcomingEvents = sort $sortedUpcomingEvents "Params.date" }}
{{ $upcomingCount := len $sortedUpcomingEvents }}
{{ $maxItems := 6 }} <!-- Define the maximum number of items to display -->

{{ range $index, $event := $sortedUpcomingEvents }}
{{ if lt $index $maxItems }}
<!-- split the start time to get hour. subtract 2 from hour -->
<div class="mb-4">
  <div>
    <a href="{{ $event.Permalink }}" class="flex">
      {{ $event.Title }}<br>
    </a>
    <i class="fa-regular dark:text-gray-300 text-gray-600 fa-circle-user mr-2"></i>{{delimit .Params.author ", "}}<br>
    <i class="fa-regular dark:text-gray-300 text-gray-600 fa-calendar mr-2"></i>{{ dateFormat "2006, Jan 2" $event.Params.Date }}&nbsp;&nbsp;&nbsp;
    <i class="fa-regular dark:text-gray-300 text-gray-600 fa-clock mr-2"></i>{{ .Params.start_time }} - {{ .Params.end_time}} {{ $event.Params.time_zone }}
  </div>

</div>
{{ end }}
{{ end }}
{{ else }}
<!-- Handle the case where there are no upcoming events -->
<p>No upcoming events.</p>
{{ end }}
