{{ with .Params.author }}
{{ $numAuthors := len . }}
{{ range $index, $authorNameFromFrontmatter := . }}
{{ $nameForProcessing := $authorNameFromFrontmatter | replaceRE "[.]" "" }}
{{ $nameForProcessing = $nameForProcessing | replaceRE "ć" "c" | replaceRE "Ć" "C" | replaceRE "é" "e" | replaceRE "É" "E" | replaceRE "á" "a" | replaceRE "Á" "A" | replaceRE "í" "i" | replaceRE "Í" "I" | replaceRE "ó" "o" | replaceRE "Ó" "O" | replaceRE "ú" "u" | replaceRE "Ú" "U" }}
{{ $contributor_slug := $nameForProcessing | anchorize }}
{{ $contributor_page_path := printf "contributors/%s" $contributor_slug }}
{{ $contributor_page := site.GetPage $contributor_page_path }}

{{- /* Output author name or link */ -}}
{{- if $contributor_page -}}
<a href="{{ $contributor_page.RelPermalink }}">{{ $authorNameFromFrontmatter }}</a>
{{- else -}}
{{- $authorNameFromFrontmatter -}}
{{- end -}}

{{- /* Add comma and space if not the last author. */ -}}
{{- if lt $index (sub $numAuthors 1) -}}, {{ end -}}
{{ end }}
{{ else }}
Anonymous
{{ end }}
