{{ with .Params.author }}
{{ $numAuthors := len . }}
{{ range $index, $authorNameFromFrontmatter := . }}
{{ $contrib := partial "helpers/resolve-contributor.html" $authorNameFromFrontmatter }}
{{- /* Output author name or link */ -}}
{{- if $contrib.Page -}}
<a href="{{ $contrib.Page.RelPermalink }}">{{ $authorNameFromFrontmatter }}</a>
{{- else -}}
{{- $authorNameFromFrontmatter -}}
{{- end -}}
{{- /* Add comma and space if not the last author. */ -}}
{{- if lt $index (sub $numAuthors 1) -}}, {{ end -}}
{{ end }}
{{ else }}
Anonymous
{{ end }}
