{{ $title := site.Title }}
{{ if .Params.meta_title }}
  {{ $title = .Params.meta_title }}
{{ else if and (eq .Type "neuromorphic-hardware") .Params.product }}
  {{ $title = printf "A Look at %s - Neuromorphic Chip - %s" .Title site.Title }}
{{ else if not .IsHome }}
  {{ $title = printf "%s - %s" .Title site.Title }}
{{ else }}
  {{ $title = site.Params.homepageTitle | default site.Title }}
{{ end }}

<title>{{ $title }}</title>

{{ if .Params.noindex }}
  <meta name="robots" content="noindex,nofollow" />
{{ end }}

{{/* Always emit canonical; use params.canonical override if present, else .Permalink */}}
<link rel="canonical" href="{{ .Params.canonical | default .Permalink }}" itemprop="url" />

{{ if .IsTranslated }}
  {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
  {{ end }}
  <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
{{ end }}

{{ if .Params.keywords }}
  <meta name="keywords" content="{{ delimit .Params.keywords `, ` }}" />
{{ else if site.Params.metadata.keywords }}
  <meta name="keywords" content="{{ delimit site.Params.metadata.keywords `, ` }}" />
{{ end }}

<meta name="description" content="{{ .Params.description | default site.Params.metadata.description }}" />

{{ with site.Params.metadata.author }}
  <meta name="author" content="{{ . }}" />
{{ end }}

<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ if .Params.title }}{{ .Params.title }}{{ else }}Open Neuromorphic{{ end }}" />
<meta property="og:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}Explore the world of Neuromorphic Computing, AI, and Devices in an open-source community. Join us for educational content, and collaborative innovation{{ end }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="{{ (urls.Parse site.BaseURL).Host }}" />
<meta property="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:title" content="{{ if .Params.title }}{{ .Params.title }}{{ else }}Open Neuromorphic{{ end }}" />
<meta name="twitter:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}Explore the world of Neuromorphic Computing, AI, and Devices in an open-source community. Join us for educational content, and collaborative innovation{{ end }}" />

{{ $ogImageURL := partial "helpers/resolve-og-image.html" . }}

{{ if $ogImageURL }}
  <meta property="og:image" content="{{ $ogImageURL }}">
  <meta name="twitter:image" content="{{ $ogImageURL }}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
{{ end }}
