{{ if or (eq site.BaseURL "/") (eq site.BaseURL "http://localhost:1313/") }}
{{ else }}
<base href="{{ .Permalink }}" />
{{ end }}

{{ $title := site.Title }}
{{ if .Params.meta_title }}
{{ $title = .Params.meta_title }}
{{ else if .Params.title }}
{{ $title = .Params.title }}
{{ end }}

<title>{{ $title }}</title>

{{ if .Params.noindex }}
<meta name="robots" content="noindex,nofollow" />
{{ end }}

{{ with .Params.canonical }}
<link rel="canonical" href="{{ . }}" itemprop="url" />
{{ end }}

{{ if .IsTranslated }}
{{ range .AllTranslations }}
<link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
{{ end }}
<link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
{{ end }}

{{ if .Params.keywords }}
<meta name="keywords" content="{{ delimit .Params.keywords `, ` }}" />
{{ else if site.Params.metadata.keywords }}
<meta name="keywords" content="{{ delimit site.Params.metadata.keywords `, ` }}" />
{{ end }}

<meta name="description" content="{{ .Params.description | default site.Params.metadata.description }}" />

{{ with site.Params.metadata.author }}
<meta name="author" content="{{ . }}" />
{{ end }}

<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ if .Params.title }}{{ .Params.title }}{{ else }}Open Neuromorphic{{ end }}" />
<meta property="og:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}Explore the world of Neuromorphic Computing, AI, and Devices in an open-source community. Join us for educational content, and collaborative innovation{{ end }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="{{ (urls.Parse site.BaseURL).Host }}" />
<meta property="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:title" content="{{ if .Params.title }}{{ .Params.title }}{{ else }}Open Neuromorphic{{ end }}" />
<meta name="twitter:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}Explore the world of Neuromorphic Computing, AI, and Devices in an open-source community. Join us for educational content, and collaborative innovation{{ end }}" />

{{ $ogImageURL := partial "helpers/resolve-og-image.html" . }}

{{ if $ogImageURL }}
<meta property="og:image" content="{{ $ogImageURL }}">
<meta name="twitter:image" content="{{ $ogImageURL }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
{{ end }}
