{{ if and .IsPage .File }}
{{ with .File.Path }}
{{ $dev_url := printf "https://github.dev/open-neuromorphic/open-neuromorphic.github.io/blob/main/content/%s" . }}
<a href="{{ $dev_url }}" target="_blank" rel="noopener"
   class="btn normal-case hidden md:inline-flex flex-shrink-0 items-center gap-x-1.5 rounded-md bg-white dark:bg-darkmode-theme-dark !px-2.5 !py-1 text-xs font-semibold text-gray-900 dark:text-gray-200 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-gray-700 hover:bg-gray-50 dark:hover:bg-black/20 transition-colors">
  {{ partial "icon.html" (dict "style" "brands" "name" "github" "class" "h-3.5 w-3.5") }}
  <span>Edit Page</span>
  {{ partial "icon.html" (dict "style" "solid" "name" "arrow-up-right-from-square" "class" "h-3 w-3") }}
</a>
{{ end }}
{{ end }}
