{{/* layouts/partials/components/event-sidebar.html */}}
{{ $context := .context | default . }}
{{ $title := .title }}
{{ $type := .type }}
{{ $is_section := .is_section | default false }}
{{ $limit := .limit | default 0 }}
{{ $empty_msg_1 := .empty_msg_1 }}
{{ $empty_msg_2 := .empty_msg_2 }}
{{ $cta_link := .cta_link }}
{{ $cta_text := .cta_text }}

<div class="pb-4">
  {{ partial "components/og-preview.html" $context }}
</div>
<div class="px-7 pt-7 content-panel">
  <h3 class="pb-5 pt-5 text-xl">{{ $title }}</h3>

  {{ $now := now }}
  {{ $yesterday := $now.AddDate 0 0 -1 }}
  {{ $upcoming_events := slice }}

  {{ $pages_to_check := slice }}
  {{ if $is_section }}
  {{ $pages_to_check = where site.RegularPages "Section" $type }}
  {{ else }}
  {{ $pages_to_check = where site.RegularPages "Type" $type }}
  {{ end }}

  {{ range where $pages_to_check ".Params.upcoming" true }}
  {{ if ge .Date.Unix $yesterday.Unix }}
  {{ $upcoming_events = $upcoming_events | append . }}
  {{ end }}
  {{ end }}

  {{ $sorted_events := sort $upcoming_events ".Date" }}
  {{ if gt $limit 0 }}
  {{ $sorted_events = first $limit $sorted_events }}
  {{ end }}

  {{ if gt (len $sorted_events) 0 }}
  {{ range $sorted_events }}
  <div class="mb-4">
    <a href="{{ .Permalink }}" class="block font-semibold hover:text-primary dark:hover:text-darkmode-primary">{{ .Title }}</a>
    <div class="text-sm text-gray-600 dark:text-gray-400 mt-1">
      {{ if .Params.author }}
      <div class="flex items-center">
        {{ partial "icon.html" (dict "style" "regular" "name" "circle-user" "class" "mr-2") }}
        <span>{{ delimit .Params.author ", " }}</span>
      </div>
      {{ end }}
      <div class="flex items-center mt-1">
        {{ partial "icon.html" (dict "style" "regular" "name" "calendar" "class" "mr-2") }}
        <span>{{ .Date.Format "January 2, 2006" }}</span>
      </div>
      <div class="flex items-center mt-1">
        {{ partial "icon.html" (dict "style" "regular" "name" "clock" "class" "mr-2") }}
        <span>{{ .Params.start_time }} - {{ .Params.end_time}} {{ .Params.time_zone }}</span>
      </div>
    </div>
  </div>
  {{ end }}
  {{ else }}
  <p class="text-sm text-gray-600 dark:text-gray-400 mb-4">{{ $empty_msg_1 }}</p>
  {{ if $empty_msg_2 }}
  <p class="text-sm text-gray-600 dark:text-gray-400 mb-4">{{ $empty_msg_2 }}</p>
  {{ end }}
  {{ end }}

  <div class="text-right pb-5 pt-5">
    <a href="{{ $cta_link }}" class="btn btn-new-primary btn-sm">{{ $cta_text }}</a>
  </div>
</div>
