{{ $ogImageResource := "" }}
{{ $ogImageDisplayURL := "" }}

{{ if .IsHome }}
{{ $ogImageDisplayURL = "images/og-image-16x9.jpg" | relLangURL }}
{{ else if .File }}
{{ $pageSlug := path.Base .File.Dir }}
{{ $generatedOgImageName := printf "%s-og-16x9.jpg" $pageSlug }}
{{ with .Resources.GetMatch $generatedOgImageName }}
{{ $ogImageResource = . }}
{{ end }}
{{ end }}

{{ if not $ogImageResource }}
{{ with .Params.image }}
{{ $fmImage := . }}
{{ with $.Page.Resources.GetMatch $fmImage }}
{{ $ogImageResource = . }}
{{ else }}
{{ with resources.Get $fmImage }}
{{ $ogImageResource = . }}
{{ else }}
{{ if fileExists (printf "static%s" $fmImage) }}
{{ $ogImageDisplayURL = $fmImage | relLangURL }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}

{{ if not $ogImageDisplayURL }}
{{ if $ogImageResource }}
{{ $resizedOg := $ogImageResource.Resize "600x Lanczos q85" }}
{{ $ogImageDisplayURL = $resizedOg.RelPermalink }}
{{ else }}
{{ with site.Params.metadata.image }}
{{ $ogImageDisplayURL = . | relLangURL }}
{{ end }}
{{ end }}
{{ end }}


{{ if $ogImageDisplayURL }}
<div class="og-preview-wrapper">
  <div class="og-preview-container">
    <img src="{{ $ogImageDisplayURL }}" alt="Social share preview for {{ .Title }}" class="og-preview-image-tag" />

    <div class="image-dark-overlay"></div>
    <div class="social-share-overlay">
      <div class="social-icons-container">
        <a href="https://twitter.com/intent/tweet/?text={{ .Title | urlquery }}&url={{ .Permalink | absURL }}" target="_blank" rel="noopener" class="social-icon" title="Share on X/Twitter">
          {{ partial "icon.html" (dict "style" "brands" "name" "x-twitter") }}
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | absURL }}" target="_blank" rel="noopener" class="social-icon" title="Share on Facebook">
          {{ partial "icon.html" (dict "style" "brands" "name" "facebook") }}
        </a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink | absURL }}&title={{ .Title | urlquery }}" target="_blank" rel="noopener" class="social-icon" title="Share on LinkedIn">
          {{ partial "icon.html" (dict "style" "brands" "name" "linkedin") }}
        </a>
      </div>
    </div>
    <div class="sharing-runner">
      <span>Share this post</span>
      <div class="runner-icons">
        {{ partial "icon.html" (dict "style" "brands" "name" "x-twitter") }}
        {{ partial "icon.html" (dict "style" "brands" "name" "facebook") }}
        {{ partial "icon.html" (dict "style" "brands" "name" "linkedin") }}
      </div>
    </div>
  </div>
</div>
{{ end }}
