<div class="share-cta-section mt-12 pt-8">
  <div class="text-center">
    <h2 class="text-3xl font-bold mb-4">Enjoy this content? Share it!</h2>
    <p class="max-w-2xl mx-auto mb-8 text-lg text-gray-600 dark:text-gray-400">
      Sharing our articles and resources is one of the easiest and most effective ways to support Open Neuromorphic. It helps us reach a wider audience, grow our community, and continue our mission of advancing open-source neuromorphic computing. Your support is greatly appreciated!
    </p>
  </div>

    {{ partial "components/og-preview.html" . }}
</div>
