{{/* layouts/partials/components/svg-sprite.html */}}
{{/* Generates an SVG sprite sheet from a list of icons in data/used_icons.yml */}}

{{ $spriteData := site.Data.used_icons.fontawesome_svgs }}
{{ if $spriteData }}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  {{ range $spriteData }}
  {{ $iconStyle := .style }}
  {{ $iconName := .name }}
  {{ $iconPath := printf "/plugins/font-awesome/svgs/%s/%s.svg" $iconStyle $iconName }} {{/* Path relative to static dir */}}
  {{ $iconStaticPath := printf "static%s" $iconPath }} {{/* Path for readFile */}}

  {{ if fileExists $iconStaticPath }}
  {{ $svgContent := readFile $iconStaticPath }}
  {{/* Extract the path data from the full SVG file.
  We are interested in the <path> elements primarily.
  A simple regex to grab everything between <svg> and </svg> tags,
  then we'll get the viewBox from the original <svg> tag.
    */}}
    {{ $viewBoxMatch := $svgContent | findRE `viewBox="([^"]*)"` }}
    {{ $viewBox := "" }}
    {{ if $viewBoxMatch }}{{ $viewBox = index $viewBoxMatch 0 }}{{ end }}

    {{ $pathsMatch := $svgContent | findRE `<svg[^>]*>(.*)</svg>` }}
  {{ $paths := "" }}
  {{ if $pathsMatch }}{{ $paths = index $pathsMatch 0 | replaceRE `<svg[^>]*>(.*)</svg>` "$1" }}{{ end }}


{{ if $paths }}
<symbol id="icon-{{ $iconStyle }}-{{ $iconName }}" {{ $viewBox | safeHTMLAttr }}>
  {{ $paths | safeHTML }}
</symbol>
{{ else }}
{{ warnf "[SVG Sprite] Could not extract paths for icon: %s (%s)" $iconName $iconStaticPath }}
{{ end }}
{{ else }}
{{ warnf "[SVG Sprite] Icon file not found: %s" $iconStaticPath }}
{{ end }}
{{ end }}
</svg>
{{ else }}
{{ warnf "[SVG Sprite] No icon data found in data/used_icons.yml" }}
{{ end }}
