{{ $sortedAllUpcomingEvents := .sortedAllUpcomingEvents | default (slice) }}
{{ $ContextPage := .ContextPage }} {{/* To resolve .Site and .RelPermalink later if needed */}}

{{ if $sortedAllUpcomingEvents }}
  {{ $upcomingCount := len $sortedAllUpcomingEvents }}
  {{ $maxItems := 4 }} <!-- Define the maximum number of items to display -->
  {{ $offset := 1 }} <!-- Define the offset value (start from the second event) -->
  <h3 class="text-xl pb-4">Upcoming Workshops & Events</h3>
  <div class="flex flex-wrap -mx-4"> <!-- Add flex and flex-wrap for horizontal layout -->
    {{ range $index, $event := $sortedAllUpcomingEvents }}
      {{ if and (lt $index $maxItems) (ge $index $offset) }} <!-- Check the offset condition -->
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/3 px-4 mb-1">
          <div class="mb-1">
            <a href="{{ $event.Permalink }}" class="flex">
              {{ $event.Title }}<br>
            </a>
            {{ if $event.IsRecurring }}
                <i class="fa-regular fa-circle-user mr-2"></i>{{ $event.Host }}<br>
            {{ else if $event.Authors }}
                <i class="fa-regular fa-circle-user mr-2"></i>
                {{ $numAuthors := len $event.Authors }}
                {{ range $i, $authorName := $event.Authors }}
                    {{ $nameForProcessing := $authorName | replaceRE "[.]" "" }}
                    {{ $nameForProcessing = $nameForProcessing | replaceRE "ć" "c" | replaceRE "Ć" "C" }}
                    {{ $contributorSlug := $nameForProcessing | anchorize }}
                    {{ $contributorPagePath := printf "contributors/%s" $contributorSlug }}
                    {{ $contributorPage := $ContextPage.Site.GetPage $contributorPagePath }}
                    {{ if $contributorPage }}<a href="{{ $contributorPage.RelPermalink }}">{{ $authorName }}</a>{{ else }}{{ $authorName }}{{ end }}{{ if lt $i (sub $numAuthors 1) }}, {{ end }}
                {{ end }}
                <br>
            {{ end }}
            <i class="fa-regular dark:text-gray-300 text-gray-600 fa-calendar mr-2"></i>{{ $event.Date.Format "Jan 2, 2006" }}   
            <i class="fa-regular dark:text-gray-300 text-gray-600 fa-clock mr-2"></i>{{ $event.StartTime }} - {{ $event.EndTime}} {{ $event.TimeZone }}
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
{{ else }}
  <p>No upcoming events.</p>
{{ end }}
