{{ with .Params.product }}
  <div class="product-info mb-6 grid grid-cols-2 gap-4">
    <h2 class="text-2xl font-bold mb-4 col-span-2">At a Glance</h2>
    <div>
      {{ with .announced_date }}<div><strong>Announced Date:</strong> {{ . }}</div>{{ end }}
      {{ with .release_date }}<div><strong>Release Date:</strong> {{ . }}</div>{{ end }}
      {{ with .status }}
        <div>
          <strong>Status:</strong>
          {{ if and .announced .released .retired }} End Of Life{{ else if .announced }} Announced{{ else if .released }} Released{{ else if .retired }} End Of Life{{ end }}
        </div>
      {{ end }}
      {{ if .chip_type }}<div><strong>Chip Type:</strong> {{ .chip_type }}</div>{{ end }}
    </div>
    <div>
      {{ if .neurons }}<div><strong>Neurons:</strong> {{ .neurons }}</div>{{ end }}
      {{ if .synapses }}<div><strong>Synapses:</strong> {{ .synapses }}</div>{{ end }}
      {{ if .on_chip_learning }}<div><strong>On-Chip Learning:</strong> {{ .on_chip_learning }}</div>{{ end }}
      {{ if .power }}<div><strong>Power:</strong> {{ .power }}</div>{{ end }}
      {{ if .software }}<div><strong>Software:</strong> {{ .software }}</div>{{ end }}
      {{ if .applications }}<div><strong>Applications:</strong> {{ .applications }}</div>{{ end }}
    </div>
  </div>
{{ end }}
