{{ define "main" }}
{{ partial "page-header" . }}

<section class="section pt-6">
  <div class="container">
    <div class="row gx-5">
      <div class="content lg:col-7 mb-10 text-xl">
        <h2 class="text-2xl/8 font-bold mb-4">Neuromorphic Hardware: A Comprehensive Guide</h2>
        <p>Delve into the evolution of neuromorphic hardware, uncovering its rich history, detailed specifications, and
          the brilliant developers behind groundbreaking projects. Discover key milestones, technical intricacies, and
          the visionary minds shaping the future of intelligent computing.</p>
      </div>
      <div class="lg:col-5">
        {{ if .Params.image }}
        {{ partial "image" (dict "Src" "image.jpeg" "Context" .Page "Alt" .Title "Class" "w-full rounded" "Size"
        "1280x720" "Command" "Crop") }}
        {{ end }}
      </div>

      <div class="lg:col-12">
        <div class="bg-purple-100 dark:bg-darkmode-theme-light rounded-lg mb-4 mt-6">
                  <h2 class="text-2xl pt-6 mx-6">Find specifications, papers, and development details:</h2>
          <ul class="p-4">
    {{ $prev_year := 0}}
    {{ range sort (where .Site.RegularPages "Params.active_product" true) "Params.product.release_year" "desc" }}
        <li class="pb-4 chip-card">
    {{ if ne .Params.product.release_year $prev_year }}
        {{ $prev_year = .Params.product.release_year }}
        <div class="font-extrabold pb-2">{{ $prev_year }}</div>
    {{ end }}
    <a href="{{ .Permalink }}" class="p-2 block no-underline hover:bg-neutral-700 rounded">
        <div class="chip-details pl-4">
            <h3 class="text-lg relative"><span class="chip-icon"><i class="fas fa-microchip pr-2"></i></span>{{ .Params.title }}<div class="inline btn-outline-primary btn btn-sm p-1 py-0 ml-2">View Details</div>
            </h3>
            <p class="pl-8 inline-block">{{ .Params.summary }}</p>
        </div>
    </a>
</li>

    {{ end }}
</ul>

        </div>
      </div>
      <!-- Column for Chips -->
      <div class="lg:col-5">
        <div class="row">
          <div class="pb-4">
            {{ partial "image" (dict "Src" "image.jpeg" "Context" .Page "Alt" .Title "Class" "bg-white rounded" "Size"
            "600x"
            "Command" "Scale") }}
            <h3 class="text-xl pb-4">Current Landscape and Future Prospects (2020s and Beyond)</h3>
            <p>In the current era, neuromorphic hardware continues to evolve rapidly. Various research projects and
              commercial ventures focus on enhancing the efficiency, scalability, and applicability of neuromorphic
              systems. The
              field holds promise for addressing complex tasks in artificial intelligence, neuromorphic computing, and
              brain-machine interfaces.</p>
          </div>

          <div class="pb-4">
            <h3 class="text-xl pb-4">Advancements in Spiking Neural Networks (2010s)</h3>
            <p>The 2010s marked significant advancements in spiking neural networks (SNNs) and event-driven computing.
              These
              developments enabled more efficient and power-aware neuromorphic hardware designs. Initiatives like the
              Human Brain
              Project and the development of specialized neuromorphic chips, such as IBM's TrueNorth, showcased the
              potential of
              this technology.</p>
          </div>

          <div class="pb-4">
            <h3 class="text-xl pb-4">The Birth of True Neuromorphic Chips (1990s-2000s)</h3>
            <p>In the 1990s and 2000s, the development of true neuromorphic chips accelerated. Carver Mead's pioneering
              work laid
              the foundation for creating circuits that emulate the brain's synapses and neurons. Research institutions
              and
              companies began exploring neuromorphic architectures for specialized applications like pattern recognition
              and
              sensory processing.</p>
          </div>

          <div>
            {{ partial "image" (dict "Src" "past.jpeg" "Context" .Page "Alt" .Title "Class" "bg-white rounded" "Size"
            "600x"
            "Command" "Scale") }}
            <h3 class="text-xl pb-4">Early Concepts (1940s-1980s)</h3>
            <p>The roots of neuromorphic hardware can be traced back to early computational neuroscience efforts in the
              1940s.
              Researchers explored mimicking the brain's structure and functionality. In the 1980s, the concept of
              neuromorphic
              engineering gained momentum, focusing on hardware implementations inspired by the brain's neural
              networks.</p>
          </div>
        </div>
      </div>

      <div class="lg:col-7">
        <!-- Inactive Products List -->
        <div class="bg-purple-100 dark:bg-darkmode-theme-light rounded-lg mb-4">
          <h2 class="text-2xl pt-6 mx-6">Discontinued or Unsupported</h2>
          <ul class="p-6">
            {{ range .RegularPages }}
            {{ if and (eq .Params.active_product false) }}
            <li class="pb-4 chip-card">
              <a href="{{ .Permalink }}" class="no-underline">
                <div class="chip-details">
                  <h3 class="text-lg">
                    <span class="chip-icon"><i class="fas fa-microchip"></i></span>
                    {{ .Params.title }}
                  </h3>
                  <p class="pl-6">{{ .Params.summary }}</p>
                </div>
              </a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>

    </div>

    <!-- Row for Glossary -->
    <div class="row">
      <h2 class="pb-4">Glossary</h2>

      <!-- Column for the First Half of Glossary -->
      <div class="col-6">
        <ul>
          {{ with .Params.glossary }}
          {{ $half := div (len .) 2 }}
          {{ range first $half . }}
          <li class="pb-4">
            <strong>{{ .term }}</strong>: {{ .definition }}
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>

      <!-- Second Column for the Second Half of Glossary -->
      <div class="col-6">
        <ul>
          {{ with .Params.glossary }}
          {{ $half := div (len .) 2 }}
          {{ range last $half . }}
          <li class="pb-4">
            <strong>{{ .term }}</strong>: {{ .definition }}
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>
{{ end }}
