{{ define "main" }}
{{ partial "page-header" . }}
<section class="section pt-6">
  <div class="container">
    <div class="row lg:gx-8 lg:items-stretch">
      <div class="lg:col-8">
        <article class="content mb-10">
          {{ .Content }}
        </article>

        <!-- At a Glance card for mobile/tablet -->
        <div class="lg:hidden mb-8">
          {{ partial "software/at-a-glance.html" . }}
        </div>

        {{ $slug := "" }}
        {{ if .File }}{{ $slug = path.Base .File.Dir }}{{ end }}
        {{ partial "custom/software_mission_board_promo.html" (dict "project_slug" $slug "id" "mission-board") }}

        {{ partial "shared/related-content.html" . }}

        {{ partial "components/content-contribute-cta.html" (dict
        "page_context" .
        "icon" "solid code"
        "title" "Help Improve this <span class='gradient-text'>Software Guide</span>"
        "description" "Our software guide is maintained by the community. If you have updates, see an error, or want to suggest a new tool, please let us know by opening an issue on our GitHub repository."
        "link" "https://github.com/open-neuromorphic/open-neuromorphic.github.io/issues/new/choose"
        "link_text" "Open an Issue"
        ) }}

        <div class="mt-8 lg:hidden">
          {{ partial "components/share-cta.html" . }}
        </div>
      </div>

      <aside class="lg:col-4 mt-8 lg:mt-0 hidden lg:block">
        <div class="pb-4">
          {{ partial "components/og-preview.html" . }}
        </div>
        <div class="sticky top-24">
          {{ partial "software/at-a-glance.html" . }}
        </div>
      </aside>
    </div>
  </div>
</section>
{{ end }}
