{{ $page_context := . }}
{{ $imageUrls := slice }}

{{ if .File }}
    {{ $pageSlug := path.Base .File.Dir }}
    {{ $suffixes := slice "16x9" "4x3" "1x1" }}
    {{ range $suffixes }}
        {{ $ogImageName := printf "%s-og-%s.jpg" $pageSlug . }}
        {{ with $page_context.Resources.GetMatch $ogImageName }}
            {{ $imageUrls = $imageUrls | append .Permalink }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if not $imageUrls }}
    {{ with .Params.image }}
        {{ $fmImage := . }}
        {{ $imageRes := "" }}
        {{ with $page_context.Resources.GetMatch $fmImage }}
            {{ $imageRes = . }}
        {{ end }}
        
        {{ if $imageRes }}
             {{ $imageUrls = $imageUrls | append $imageRes.Permalink }}
        {{ else }}
            {{ $imageUrls = $imageUrls | append ($fmImage | absURL) }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if not $imageUrls }}
    {{ with site.Params.metadata.image }}
        {{ $imageUrls = $imageUrls | append (. | absURL) }}
    {{ end }}
{{ end }}

{{ $blogLD := dict
  "@context" "https://schema.org"
  "@type" "BlogPosting"
  "headline" $page_context.Title
  "image" $imageUrls
  "datePublished" ($page_context.Date.Format "2006-01-02T15:04:05Z07:00")
}}
{{ if $page_context.Lastmod }}{{ $blogLD = merge $blogLD (dict "dateModified" ($page_context.Lastmod.Format "2006-01-02T15:04:05Z07:00")) }}{{ end }}
{{ if $page_context.Params.author }}
  {{ $authorList := slice }}
  {{ with $page_context.Params.author }}{{ if reflect.IsSlice . }}{{ $authorList = . }}{{ else }}{{ $authorList = slice . }}{{ end }}{{ end }}

  {{ $authorsLD := slice }}
  {{ range $authorList }}
    {{ $authorName := . }}
    {{ $nameForProcessing := $authorName | replaceRE "[.]" "" | replaceRE "ć" "c" | replaceRE "Ć" "C" }}
    {{ $contributorSlug := $nameForProcessing | anchorize }}
    {{ $contributorPage := site.GetPage (printf "contributors/%s" $contributorSlug) }}

    {{ $personDict := dict "@type" "Person" "name" $authorName }}
    {{ if $contributorPage }}
      {{ $personDict = merge $personDict (dict "url" ($contributorPage.Permalink | absLangURL)) }}
    {{ end }}
    {{ $authorsLD = $authorsLD | append $personDict }}
  {{ end }}
  {{ $blogLD = merge $blogLD (dict "author" $authorsLD) }}
{{ end }}

{{ return $blogLD }}