{{ define "main" }}
  {{ partial "page-header" . }}
  <section class="section pt-7">
    <div class="container">
      <div class="row lg:items-stretch">
        <div class="lg:col-8">
          <div class="content">
            {{ .Content }}
          </div>
        </div>
        <aside class="lg:col-4 hidden lg:block">
          <div class="sticky top-24">
            {{ partial "about/governance-sidebar.html" . }}
          </div>
        </aside>
      </div>
    </div>
  </section>
{{ end }}