@mixin styled-link($base-color, $hover-color, $dark-base-color, $dark-hover-color) {
  text-decoration-line: underline !important;
  text-decoration-thickness: 0.115em !important;
  text-underline-offset: 2.6px !important;
  transition: text-decoration-color 0.3s ease-in-out, color 0.3s ease-in-out;
  text-decoration-color: $base-color !important;

  &:hover {
    text-decoration-color: $hover-color !important;
  }

  .dark & {
    text-decoration-color: $dark-base-color !important;
    &:hover {
      text-decoration-color: $dark-hover-color !important;
    }
  }
}