html, body {
  scroll-padding-top: 120px;
}

html {
  scroll-behavior: smooth;
}

.toc {
  position: sticky;
  top: 7rem;
  align-self: start;
}
h1.homepage {
  font-size: 1.7em;
}
#tableOfContentContainer {
  max-height: 65vh; /* Adjust the percentage as needed */
  overflow-y: auto;
}

nav#TableOfContents {
  background-color: transparent !important;

  li.active a {
    color: #022b4a !important;
    text-decoration: none !important;
    font-weight: 550 !important;
  }

  ol ol li {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  h1, .h1 {
    font-size: 2rem;
  }
}

.nav-dropdown-list {
  min-width: 300px;
  border-radius: 10px;
}

code {
  color: #cdf3f5;
  overflow-x: auto;
  white-space: pre-wrap;
}

.content :is(:where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *))) {
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: #000;
  border-radius: 12px;
}

.share-link {
  margin: 10px;
  font-size: 1.2em;
}

//Links & Buttons

a {
  overflow-wrap: break-word;
}

.content :is(:where(a):not(:where([class~="not-prose"], [class~="not-prose"] *))),
section a {
  color: #200435 !important;
  text-decoration-color: #d7c7e3;
  text-decoration-thickness: 0.115em;
  text-underline-offset: 2.6px;
  text-decoration-line: underline;
  font-weight: 550 !important;
  transition: text-decoration-color 0.3s ease-in-out; /* Add transition for a smooth hover effect */
}

.content :is(:where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)):hover),
section a:hover {
  text-decoration-color: #200435; /* Change text-decoration-color on hover */
}


h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration: none !important;
  font-weight: 550 !important;
}

.social-icons a {
  color: #FFF !important;
}

.btn-primary {
  --tw-border-opacity: 1;
  border-color: #000000;
  --tw-bg-opacity: 1;
  background-color: #FFF;
  --tw-text-opacity: 1;
  color: #FFF;
}

section .btn {
  text-decoration-line: none !important;
}

figcaption {
  color: #000;
  margin-top: 0 !important;
}

.authorContent {
  ul li {
    list-style: disc;
    margin-left: 25px;
    padding: 10px 30px 10px 0;
  }

  p {
    margin-bottom: 10px;
  }
}

.footer-menu-item {
  margin-bottom: 10px;
  font-weight: 550;
  font-size: 1.1em;
  line-height: 2em;
}

.footer-menu-item p,
.footer-menu-item > a {
  text-decoration: underline;
}

.footer-menu-subitem {
  display: block;
  font-weight: 400;
  font-size: 0.9em;
}

.frontiers-section a {
  max-width: 450px;
  display: inline-block;
}

.content {
  --tw-prose-bullets: #000 !important;
}

header .btn-outline-primary {
  border-color: transparent;
  color: #000000;
  background-color: #FFF;
  font-weight: 550;
  border-width: 2px;
  border-color: #8b2eaf;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 39px 0px rgba(95, 32, 135, 0.5);
}

.dark {
  code {
    color: #cdf3f5;
    background-color: #000;
  }

  .content {
    --tw-prose-bullets: #FFF !important;
  }

  header .btn-outline-primary {
    border-color: transparent;
    color: #ffffff;
    background-color: #000;
    font-weight: 550;
    border-width: 2px;
    border-color: #e8b7fb;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 39px 0px rgba(228, 218, 234, 0.5);
  }

  .nav-dropdown-list {
    background: #000 !important;
  }

  figcaption {
    color: #FFF;
  }

.content :is(:where(a):not(:where([class~="not-prose"], [class~="not-prose"] *))),
section a {
  color: #bcfbff !important;
  text-decoration-color: #288b8c;
}

.content :is(:where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)):hover),
section a:hover {
  text-decoration-color: #bcfbff; /* Change text-decoration-color on hover */
}

  h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #ffffff !important;
  }

  nav#TableOfContents {
    li.active a {
      color: #bcfbff !important;
      font-weight: 600 !important;
    }
  }
  :is(.dark .btn-primary) {
    --tw-border-opacity: 1;
    border-color: #bcfbff;
    --tw-bg-opacity: 1;
    background-color: #000;
    --tw-text-opacity: 1;
    color: #FFF;

  }

  .social-icons a {
    color: #000 !important;
  }
}

