html, body {
  scroll-padding-top: 120px;
}

html {
  scroll-behavior: smooth;
}

.toc {
  position: sticky;
  top: 7rem;
  align-self: start;
}

#tableOfContentContainer {
  max-height: 65vh; /* Adjust the percentage as needed */
  overflow-y: auto;
}

nav#TableOfContents {
  background-color: transparent !important;

  li.active a {
    color: #022b4a !important;
    text-decoration: none !important;
    font-weight: 550 !important;
  }

  ol ol li {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

section a {
  color: #1f0e62 !important;
  text-decoration: none !important;
  font-weight: 550 !important;
}

.frontiers-section a {
  max-width: 450px;
  display: inline-block;
}

@media (min-width: 768px) {
  h1, .h1 {
    font-size: 2rem;
  }
}

.nav-dropdown-list {
  min-width: 300px;
  border-radius: 10px;
}

a {
  overflow-wrap: break-word;
}

code {
  overflow-x: auto;
  white-space: pre-wrap;
}

.content :is(:where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *))) {
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: #000;
  border-radius: 12px;
}


.share-link {
  margin: 10px;
  font-size: 1.2em;
}

.content :is(:where(a):not(:where([class~="not-prose"], [class~="not-prose"] *))) {
  color: #3c3906 !important;
  text-decoration: none !important;
  font-weight: 550 !important;
}

.btn-primary {
  --tw-border-opacity: 1;
  border-color: #000000;
  --tw-bg-opacity: 1;
  background-color: #FFF;
  --tw-text-opacity: 1;
  color: #FFF;
}

/* Default styles */
[target="_blank"]::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0px 3px 0px 5px;
  background-size: contain;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 512 512"><path fill="black" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"/></svg>') no-repeat;
}

.dark [target="_blank"]::after {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 512 512"><path fill="white" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"/></svg>');
}

.social-icons [target="_blank"]::after {
  content: none; /* Remove the 'external-link-alt' icon */
}

.share-icons [target="_blank"]::after {
  content: none; /* Remove the 'external-link-alt' icon */
}

.social-icons a {
  color: #FFF !important;
}

figcaption {
  color: #000;
  margin-top: 0 !important;
}

.authorContent {
  ul li {
    list-style: disc;
    margin-left: 25px;
    padding: 10px 30px 10px 0;
  }

  p {
    margin-bottom: 10px;
  }
}


.footer-menu-item {
  margin-bottom: 10px;
  font-weight: 550;
  font-size: 1.1em;
  line-height: 2em;
}

.footer-menu-item p,
.footer-menu-item > a {
  text-decoration: underline;
}

.footer-menu-subitem {
  display: block;
  font-weight: 400;
  font-size: 0.9em;
}

.content {
  --tw-prose-bullets: #000 !important;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration: none !important;
  font-weight: 550 !important;
}

header .btn-outline-primary {
  border-color: transparent;
  color: #000000;
  background-color: #FFF;
  font-weight: 550;
  border-width: 2px;
  border-color: #8b2eaf;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 39px 0px rgba(95, 32, 135, 0.5);
}

.dark {
  code {
    color: #cdf3f5;
    background-color: #000;
  }

  .content {
    --tw-prose-bullets: #FFF !important;
  }

  nav#TableOfContents {
    li.active a {
      color: #bcfbff !important;
      font-weight: 600 !important;
    }
  }

  header .btn-outline-primary {
    border-color: transparent;
    color: #ffffff;
    background-color: #000;
    font-weight: 550;
    border-width: 2px;
    border-color: #e8b7fb;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 39px 0px rgba(228, 218, 234, 0.5);
  }

  .nav-dropdown-list {
    background: #000 !important;
  }

  figcaption {
    color: #FFF;
  }

  section a {
    color: #bcfbff !important;
    text-decoration: none !important;
    font-weight: 550 !important;
  }

  h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #ffffff !important;
  }

  .content :is(:where(a):not(:where([class~="not-prose"], [class~="not-prose"] *))) {
    color: #bcfbff !important;
    text-decoration: none !important;
    font-weight: 550 !important;
  }

  :is(.dark .btn-primary) {
    --tw-border-opacity: 1;
    border-color: #bcfbff;
    --tw-bg-opacity: 1;
    background-color: #000;
    --tw-text-opacity: 1;
    color: #FFF;

  }

  .social-icons a {
    color: #000 !important;
  }
}

