@tailwind base;
@tailwind components;
@tailwind utilities;

@import "mixins";

@layer base {
  @import "base";
  @import "fonts";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "components/mobile-nav";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

@import "images";


@import "module-overrides";
@import "custom";

@import "components/cookie-consent";

@import "components/author-card";
@import "components/event-card";

@import "components/info-card";
@import "components/breadcrumbs";
@import "components/news-card";
@import "components/journey-ribbon";
@import "components/footer";
@import "components/involvement-card";
@import "components/hardware-card-wide";
@import "components/community-partners";

@import "components/og-preview";
@import "components/contributor-timeline";

@import "components/mega-menu";
@import "typography-custom";
