{{ define "main" }}
{{ partial "page-header" . }}
<section class="section pt-6">
  <div class="container">
    <div class="row lg:items-stretch">
      <article class="{{ if gt (len .TableOfContents) 80 }}lg:col-8{{ else }}lg:col-10 mx-auto{{ end }}">
        {{ $image:= .Params.image }}
        {{ if $image }}
        <div class="mb-6">
          {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "w-full rounded" "Size" "1280x720" "Command" "Crop") }}
          {{ partial "components/image-attribution.html" . }}
        </div>
        {{ end }}
        {{ partial "components/metadata-bar.html" (dict "context" . "type" "blog") }}
        <div class="content mb-10">
          {{ .Content }}
        </div>
        {{ partial "components/share-cta.html" . }}
       
        {{ partial "components/author-bios.html" . }}

        <div class="mt-16">
          {{ partial "components/content-contribute-cta.html" (dict
            "icon" "solid pen-to-square"
            "title" "Have an idea? <span class=\"gradient-text\">Share your voice.</span>"
            "description" "Open Neuromorphic is a community-driven platform. We invite you to share your research, tutorials, or insights by writing a blog post."
            "link" "/getting-involved/write-a-blog-post/"
            "link_text" "Write for Our Blog"
          ) }}
        </div>

      </article>
      {{ partial "components/sidebar-toc-shared.html" . }}
    </div>

    <!-- Related posts -->
    {{ $related := (where site.RegularPages "Section" "blog") | intersect (where
    site.RegularPages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) }}
    {{ $related = $related | shuffle | first 3 }}
    {{ with $related }}
      <div class="section pb-0">
        <h2 class="h3 mb-6 text-center">Related Posts</h2>
        <div class="row">
          {{ range . }}
            <div class="lg:col-4">
              {{ partial "components/blog-card" . }}
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</section>
{{ end }}
