{{ define "main" }}
{{ partial "page-header" . }}
<section class="section pt-6">
  <div class="container">
    <div class="row">
      <article class="{{ if gt (len .TableOfContents) 80 }}lg:col-8{{ else }}lg:col-10{{ end }}">
        {{ $image:= .Params.image }}
        {{ if $image }}
        <div class="mb-6">
          {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "w-full rounded" "Size" "1280x720" "Command" "Crop") }}
        </div>
        {{ end }}
        {{ partial "components/metadata-bar.html" (dict "context" . "type" "blog") }}
        <div class="content mb-10">
          {{ .Content }}
        </div>
        <div class="row items-start justify-between">
          <div class="lg:col-12 flex justify-end">
            {{ partial "override-social-share" (dict "Context" . "Class" "share-icons" "Title" (i18n "share") "Whatsapp" true "Telegram" false) }}
          </div>
        </div>
        {{ partial "components/author-bios.html" . }}
      </article>
      {{ partial "components/sidebar-toc-shared.html" . }}
    </div>

    <!-- Related posts -->
    {{ $related := (where site.RegularPages "Section" "blog") | intersect (where
    site.RegularPages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) }}
    {{ $related = $related | shuffle | first 3 }}
    {{ with $related }}
      <div class="section pb-0">
        <div class="row">
          {{ range . }}
            <div class="lg:col-4">
              {{ partial "components/blog-card" . }}
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</section>
{{ end }}
