torch>=2.0.0
sinabs
sinabs-exodus
git+https://github.com/norse/norse
git+https://github.com/fangwei123456/spikingjelly.git
spyx
tonic
snntorch
rockpool
kaleido
ipykernel
plotly
nbformat
cupy-cuda11x
ninja