.contributor-timeline {
  @apply relative pl-8;

  &::before {
    content: '';
    @apply absolute top-0 left-[0.3rem] w-0.5 h-full bg-border dark:bg-darkmode-border;
  }
}

.timeline-year {
  @apply relative h-12;

  span {
    @apply absolute bg-body dark:bg-darkmode-body px-3 py-0.5 text-xs font-bold uppercase tracking-wider text-gray-500 dark:text-gray-400 rounded-full z-10;
    left: calc(0.3rem + (0.125rem / 2));
    top: 50%;
    transform: translate(-50%, -50%);
  }
}


.timeline-item {
  @apply relative mb-8;

  &::before {
    content: '';
    @apply absolute -left-[2.1rem] top-1.5 w-4 h-4 rounded-full border-4 border-body dark:border-darkmode-body;
    background-color: var(--color-primary);
  }

  &:last-child {
    @apply mb-0;
  }
}

.timeline-item-content {
  @apply p-5 rounded-lg bg-theme-light dark:bg-darkmode-theme-light shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out;
}

.timeline-item-badge {
  @apply inline-block bg-indigo-100 dark:bg-indigo-900 text-indigo-700 dark:text-indigo-200 text-xs font-semibold px-2 py-0.5 rounded-full;
}
