<footer class="bg-theme-light dark:bg-darkmode-theme-light">
  <div class="container">
    <div class="row pt-10">
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:text-left">
        <a
          class="navbar-brand inline-block"
          href="{{ site.BaseURL | relLangURL }}">
          {{ partial "logo" }} </a
        ><br/>
      </div>
      <div class="lg:col-5 mb-8 text-left mb-0"></div>
      <div class="lg:col-4 mb-8 text-center lg:mb-0 lg:mt-0 lg:text-right">
        <ul class="social-icons">
          {{ range site.Data.social.main }}
          <li>
            <a
              target="_blank"
              aria-label="{{ .name }}"
              rel="nofollow noopener"
              href="{{ .link | safeURL }}">
              <i class="{{ .icon }}"></i>
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="row pt-5">
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:text-left">
        <a href="/about/">About</a> | <a href="/privacy/">Privacy</a> | <a href="/terms-conditions/">Terms</a>
      </div>
      <div class="lg:col-3 mb-8 text-right mb-0">
        <ul class="footer-menu">
          {{ range site.Menus.footer }}
          {{ if not .Parent }}
          <!-- ensure we're only looping over top level items -->
          <li class="footer-menu-item">
            <a
              {{ if findRE `^http` .URL }}
              target="_blank" rel="noopener"
              {{ end }}
              href="{{ if findRE `^#` .URL }}
                    {{ if not $.IsHome }}
                      {{ site.BaseURL | relLangURL }}
                    {{ end }}{{ .URL }}
                  {{ else }}
                    {{ .URL | relLangURL }}
                  {{ end }}"
            >{{ .Name }}</a
            >
            {{ if .HasChildren }}
            <!-- check for child items -->
            <ul>
              {{ range .Children }}
              <!-- loop over child items -->
              <li class="footer-menu-subitem">
                <a
                  {{ if findRE `^http` .URL }}
                  target="_blank" rel="noopener"
                  {{ end }}
                  href="{{ if findRE `^#` .URL }}
                            {{ if not $.IsHome }}
                              {{ site.BaseURL | relLangURL }}
                            {{ end }}{{ .URL }}
                          {{ else }}
                            {{ .URL | relLangURL }}
                          {{ end }}"
                >{{ .Name }}</a
                >
              </li>
              {{ end }}
            </ul>
            {{ end }}
          </li>
          {{ end }}
          {{ end }}
        </ul>
          {{ if .IsPage }}
            {{ with .File }}
              {{ with .Path }}
                <a href='https://github.com/open-neuromorphic/open-neuromorphic.github.io/tree/main/content/english/{{ . }}' target="_blank" rel="noopener">Edit this Page <i class="fab fa-github mr-2"></i></a>
              {{ end }}
            {{ end }}
          {{ end }}
      </div>
      <div class="lg:col-6 mb-8 text-right lg:text-right">
        <div class="footer-menu-item frontiers-section">
          <p><a href="/neuromorphic-computing/">Neuromorphic Computing Overview</a></p>
          <ul class="footer-menu-subitem">
            <li>
              <a href="/neuromorphic-computing/software/">Neuromorphic Software Guide</a>
            </li>
            <li>
              <a href="/neuromorphic-computing/hardware/">Neuromorphic Hardware Guide</a>
            </li>
          </ul>
          <p><a href="/blog/">ONM Blog</a></p>
          <ul class="footer-menu-subitem">
            <li>
              <a href="/blog/digital-neuromorphic-hardware-read-list/">Digital Neuromorphic Hardware Reading List</a>
            </li>
            <li>
              <a href="/blog/spiking-neurons-digital-hardware-implementation/"
              >Spiking Neurons: A Step-by-Step Guide</a
              >
            </li>
            <li>
              <a href="/blog/spiking-neural-network-framework-benchmarking/"
              >Spiking Nerual Network (SNN) Library Benchmarks</a
              >
            </li>
          </ul>
        </div>
        {{ $events := where .Site.RegularPages "Params.upcoming" "eq" true }}
        {{ if $events }}
        <div class="footer-menu-item frontiers-section">
          <p><a href="/workshops/">Upcoming Workshops</a></p>
          <ul class="footer-menu-subitem">
            {{ $workshops := where .Site.RegularPages "Type" "workshops" }}
            {{ $upcomingWorkshops := where $workshops "Params.upcoming" "eq" true }}
            {{ $sortedUpcomingWorkshops := sort $upcomingWorkshops "Params.date" "asc" }}
            {{ range $sortedUpcomingWorkshops }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }} <strong>{{ dateFormat "1/2/06" .Params.date }}</strong> </a>
            </li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="border-border dark:border-darkmode-border border-t py-7">
    <div class="text-light dark:text-darkmode-light container text-center">
      <p>
        {{ site.Params.copyright | markdownify }}
      </p>
    </div>
  </div>
</footer>
