{{- /* Computes the next occurrence of a recurring_events.toml definition */ -}}
{{- $event := . -}}
{{- $tz := $event.time_zone | default "UTC" -}}
{{- $loc := "UTC" -}}
{{- if or (eq $tz "CET") (eq $tz "CEST") -}}{{- $loc = "Europe/Berlin" -}}{{- end -}}
{{- if or (eq $tz "EST") (eq $tz "EDT") -}}{{- $loc = "America/New_York" -}}{{- end -}}

{{- /* Evaluate the current time inside the event's actual timezone */ -}}
{{- $localHour := int (time.Format "15" now $loc) -}}
{{- $localMinute := int (time.Format "04" now $loc) -}}
{{- $localWeekdayStr := time.Format "Monday" now $loc -}}

{{- $daysMap := dict "Sunday" 0 "Monday" 1 "Tuesday" 2 "Wednesday" 3 "Thursday" 4 "Friday" 5 "Saturday" 6 -}}
{{- $targetDayKey := $event.day_of_week | default "Monday" -}}
{{- $targetDayIndex := index $daysMap $targetDayKey | default 1 -}}
{{- $currentDayIndex := index $daysMap $localWeekdayStr | default 1 -}}

{{- $daysToAdd := sub $targetDayIndex $currentDayIndex -}}
{{- if lt $daysToAdd 0 -}}{{- $daysToAdd = add $daysToAdd 7 -}}{{- end -}}

{{- if eq $daysToAdd 0 -}}
  {{- $eventStartHour := int (substr $event.start_time 0 2) -}}
  {{- $eventStartMinute := int (substr $event.start_time 3 2) -}}
  {{- if or (gt $localHour $eventStartHour) (and (eq $localHour $eventStartHour) (ge $localMinute $eventStartMinute)) -}}
    {{- $daysToAdd = 7 -}}
  {{- end -}}
{{- end -}}

{{- /* Add days to find the target occurrence */ -}}
{{- $next_local_time := now.AddDate 0 0 (int $daysToAdd) -}}
{{- $dateStr := time.Format "2006-01-02" $next_local_time $loc -}}

{{- $full_start := time (printf "%sT%s:00" $dateStr $event.start_time) $loc -}}
{{- $full_end := time (printf "%sT%s:00" $dateStr $event.end_time) $loc -}}

{{- return (dict "Start" $full_start "End" $full_end "ZoneString" $tz) -}}
