{{ $page_context := .context }}
{{ $sidebar_content_partial := .sidebar }}

{{/*
  Use the reusable partial to get all sorted past events.
*/}}
{{ $all_past_events_sorted := partial "logic/get_past_events.html" $page_context.RegularPages }}


{{/* 4. Separate the most recent event to feature it. */}}
{{ $featured_event := "" }}
{{ if gt (len $all_past_events_sorted) 0 }}
  {{ $featured_event = index $all_past_events_sorted 0 }}
{{ end }}

{{/* 5. Create a list of the remaining events for the other layouts. */}}
{{ $events_after_featured := slice }}
{{ if gt (len $all_past_events_sorted) 1 }}
  {{ $events_after_featured = after 1 $all_past_events_sorted }}
{{ end }}

{{ $wide_card_events := first 4 $events_after_featured }}
{{ $grid_card_events := after 4 $events_after_featured }}

{{ partial "page-header" $page_context }}

<section class="section pt-6">
  <div class="container">
    <div class="row">
      {{ with $featured_event }}
        <div class="lg:col-8 md:col-12 mb-8">
          {{ partial "components/event-card.html" (dict "Context" . "variant" "featured") }}
        </div>
      {{ else }}
        <div class="lg:col-8 md:col-12 mb-8">
          <p class="p-4 bg-gray-100 dark:bg-gray-700 rounded">No past events to display.</p>
        </div>
      {{ end }}
      <div class="lg:col-4 md:col-12 mb-14">
        {{ partial $sidebar_content_partial $page_context }}
      </div>
    </div>
    <div class="row">
      {{ range $wide_card_events }}
        <div class="col-12 mb-14">
          {{ partial "components/event-card.html" (dict "Context" . "variant" "wide") }}
        </div>
      {{ end }}

      {{ range $grid_card_events }}
        <div class="lg:col-4 mb-14">
          {{ partial "components/event-card.html" (dict "Context" . "variant" "grid") }}
        </div>
      {{ end }}
    </div>

    <div class="mt-8">
        {{ partial "components/content-contribute-cta.html" (dict
          "icon" "solid chalkboard-user"
          "title" "Inspired? <span class=\"gradient-text\">Host an event.</span>"
          "description" "Share your expertise with the community by hosting a workshop, student talk, or hacking hour. It's a great way to get feedback and help others learn."
          "link" "/getting-involved/share-your-work/"
          "link_text" "Learn How to Host"
        ) }}
    </div>
  </div>
</section>