{{- $style := .style | default "solid" -}}
{{- $name := .name -}}
{{- $class := .class | default "" -}}
{{- $width := .width | default "1em" -}}
{{- $height := .height | default "1em" -}}

{{- if $name -}}
<svg class="icon icon-{{ $name }} {{ $class }}" fill="currentColor" aria-hidden="true" role="img" style="display: inline-block; vertical-align: middle; width: {{ $width }}; height: {{ $height }};">
  <use xlink:href="#icon-{{ $style }}-{{ $name }}"></use>
</svg>
{{- else -}}
  {{- warnf "Icon partial called without a 'name'." -}}
{{- end -}} 