{{ $logoPath:= .Src | default site.Params.logo }}
{{ $logoDarkPath:= .DarkSrc | default site.Params.logo_darkmode }}
{{ $logoText:= .LogoText | default site.Params.logo_text }}
{{ $logoWebp:= site.Params.logo_webp | default true }}
{{ $logoWidth:= site.Params.logo_width | replaceRE "px|x" "" }}
{{ $logoHeight:= site.Params.logo_height | replaceRE "px|x" "" }}
{{ $logoDefaultWidth:= "" }}
{{ $logoDefaultHeight:= "" }}
{{ $force_dark_logo := .force_dark_logo | default false }}

{{ $assetImage:= false }}
{{ $staticImage:= false }}
{{ $finalLogo := "" }}
{{ $finalLogoFallback := "" }}
{{ $finalLogoDark := "" }}
{{ $finalLogoDarkFallback := "" }}

{{ if and $logoPath (fileExists (add `assets/` (string $logoPath))) }}
{{ $assetImage = true }}
{{ end }}

{{ if and $logoPath (or (hasPrefix $logoPath "http") (fileExists (add `static/` (string $logoPath)))) }}
{{ $staticImage = true }}
{{ end }}

{{ if $staticImage }}
{{ if and $logoDarkPath (not $force_dark_logo) }}
<img fetchpriority="high" decoding="async" src="{{ $logoPath | absURL }}" alt="{{ $logoText }}" class="img logo-light" height="{{ $logoHeight | default `auto` }}" width="{{ $logoWidth | default `auto` }}" />
<img fetchpriority="high" decoding="async" src="{{ $logoDarkPath | absURL }}" alt="{{ $logoText }}" class="img logo-dark" height="{{ $logoHeight | default `auto` }}" width="{{ $logoWidth | default `auto` }}" />
{{ else if $logoDarkPath }}
<img fetchpriority="high" decoding="async" src="{{ $logoDarkPath | absURL }}" alt="{{ $logoText }}" class="img" height="{{ $logoHeight | default `auto` }}" width="{{ $logoWidth | default `auto` }}" />
{{ else }}
<img fetchpriority="high" decoding="async" src="{{ $logoPath | absURL }}" alt="{{ $logoText }}" class="img" height="{{ $logoHeight | default `auto` }}" width="{{ $logoWidth | default `auto` }}" />
{{ end }}

{{ else if $assetImage }}
{{ $logo:= resources.Get $logoPath }}
{{ $logoExt := path.Ext $logo }}
{{ if ne $logoExt `.svg` }}{{ $logoDefaultWidth = $logo.Width }}{{ $logoDefaultHeight = $logo.Height }}{{ end }}

{{ if or (eq $logoExt ".gif") (eq $logoExt ".svg") }}
{{ $finalLogo = $logo.RelPermalink }}
{{ else }}
{{ $logoWidth2x:= add (string (mul (int $logoWidth | default $logoDefaultWidth) 2)) `x` }}
{{ $options:= add (string $logoWidth2x) (cond $logoWebp " webp" " ") }}
{{ $finalLogo = ($logo.Resize $options).RelPermalink }}
{{ $finalLogoFallback = ($logo.Resize $logoWidth2x).RelPermalink }}
{{ end }}

{{ if $logoDarkPath }}
{{ if fileExists (add `assets/` (string $logoDarkPath)) }}
{{ $logoDark:= resources.Get $logoDarkPath }}
{{ $logoDarkExt := path.Ext $logoDark }}
{{ if or (eq $logoDarkExt ".gif") (eq $logoDarkExt ".svg") }}
{{ $finalLogoDark = $logoDark.RelPermalink }}
{{ else }}
{{ $logoWidth2x:= add (string (mul (int $logoWidth | default $logoDefaultWidth) 2)) `x` }}
{{ $options:= add (string $logoWidth2x) (cond $logoWebp " webp" " ") }}
{{ $finalLogoDark = ($logoDark.Resize $options).RelPermalink }}
{{ $finalLogoDarkFallback = ($logoDark.Resize $logoWidth2x).RelPermalink }}
{{ end }}
{{ else }}
{{ warnf "%q not found" $logoDarkPath }}{{ $logoDarkPath = false }}
{{ end }}
{{ end }}

{{ if $force_dark_logo }}
{{ if $logoDarkPath }}
<img fetchpriority="high" decoding="async" class="img" width="{{ $logoWidth | default $logoDefaultWidth }}" height="{{ $logoHeight | default $logoDefaultHeight }}" src="{{ $finalLogoDark }}" alt="{{ $logoText }}" onerror="this.onerror=null;this.src='{{ $finalLogoDarkFallback }}';" />
{{ else }}
{{ warnf "force_dark_logo is true, but site.Params.logo_darkmode is not defined. Falling back to default logo." }}
<img fetchpriority="high" decoding="async" class="img" width="{{ $logoWidth | default $logoDefaultWidth }}" height="{{ $logoHeight | default $logoDefaultHeight }}" src="{{ $finalLogo }}" alt="{{ $logoText }}" onerror="this.onerror=null;this.src='{{ $finalLogoFallback }}';" />
{{ end }}
{{ else if $logoDarkPath }}
<img fetchpriority="high" decoding="async" class="img logo-light" width="{{ $logoWidth | default $logoDefaultWidth }}" height="{{ $logoHeight | default $logoDefaultHeight }}" src="{{ $finalLogo }}" alt="{{ $logoText }}" onerror="this.onerror=null;this.src='{{ $finalLogoFallback }}';" />
<img fetchpriority="high" decoding="async" class="img logo-dark" width="{{ $logoWidth | default $logoDefaultWidth }}" height="{{ $logoHeight | default $logoDefaultHeight }}" src="{{ $finalLogoDark }}" alt="{{ $logoText }}" onerror="this.onerror=null;this.src='{{ $finalLogoDarkFallback }}';" />
{{ else }}
<img fetchpriority="high" decoding="async" class="img" width="{{ $logoWidth | default $logoDefaultWidth }}" height="{{ $logoHeight | default $logoDefaultHeight }}" src="{{ $finalLogo }}" alt="{{ $logoText }}" onerror="this.onerror=null;this.src='{{ $finalLogoFallback }}'" />
{{ end }}
{{ else if $logoText }}
{{ $logoText }}
{{ else }}
{{ site.Title }}
{{ end }}
