{{ define "main" }}

  {{/* 1. Hero Section */}}
  {{ partial "homepage/hero.html" . }}

  {{/* 2. Community Partners Slider */}}
  {{ partial "components/community-partners.html" . }}

  {{/* 3. "What's New" - Events & Blog Posts */}}
  {{ partial "homepage/whats-new.html" . }}

  {{/* 4. "Start Your Journey" Section (Data-driven) */}}
  {{ partial "homepage/journey.html" . }}

  {{/* 5. "Ways to Get Involved" Section (Data-driven) */}}
  {{ partial "homepage/get-involved.html" . }}

{{ end }}
