{{ define "main" }}
  {{ partial "page-header" . }}
  <section class="section pt-6">
    <div class="container">
      {{/* Row 1: "At a Glance" section, full width */}}
      <div class="row mb-8">
        <div class="lg:col-12">
          <div class="content-panel p-6 shadow-lg">
            {{ partial "hardware/product-info" .Page }}
          </div>
        </div>
      </div>

      {{/* Row 2: Main content and sidebar */}}
      <div class="row lg:items-stretch">
        <article
          class="{{ if gt (len .TableOfContents) 80 }}lg:col-8{{ else }}lg:col-10 mx-auto{{ end }}">
          <p class="mb-6 text-xl">{{ .Params.summary }}</p>
          <div class="content-panel p-6 shadow-lg mb-8">
            {{ partial "hardware/company-info" .Page }}
          </div>
          <div class="content mb-10">
            {{ .Content }}
          </div>
          
          {{ partial "shared/related-content.html" . }}

          <div class="max-w-4xl mx-auto mt-12 mb-16">
            {{ partial "components/content-contribute-cta.html" (dict
            "page_context" .
            "icon" "solid microchip"
            "title" "Help Us <span class=\"gradient-text\">Improve this Guide</span>"
            "description" "Our hardware guide is community-maintained. If you know of a chip we should add, see an error, or have updated information, please let us know by opening an issue on our GitHub repository."
            "link" "https://github.com/open-neuromorphic/open-neuromorphic.github.io/issues/new/choose"
            "link_text" "Open an Issue"
            ) }}
          </div>
          {{ partial "components/share-cta.html" . }}

        </article>
        {{ partial "components/sidebar-toc-shared.html" . }}
      </div>

      <!-- Related posts -->
      {{ $related := (where site.RegularPages "Section" "blog") | intersect (where
      site.RegularPages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) }}
      {{ $related = $related | shuffle | first 3 }}
      {{ with $related }}
        <div class="section pb-0">
          <div class="row">
            {{ range . }}
              <div class="lg:col-4">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
