{{ define "main" }}
{{ partial "page-header" . }}
<section class="section pt-6 contributors-list-section">
  <div class="container">

    <div class="mt-6 mb-12">
      {{ partial "components/content-contribute-cta.html" (dict
      "icon" "solid user-group"
      "title" "Ready to <span class=\"gradient-text\">Join Us?</span>"
      "description" "Become part of our growing community of researchers, developers, and enthusiasts. Explore the many ways you can contribute to the future of open-source neuromorphic computing."
      "link" "/getting-involved/"
      "link_text" "See How to Get Involved"
      ) }}
    </div>

    {{- .Scratch.Set "contributorContent" (dict) -}}
    {{- $contentSectionsToScan := slice "blog" "workshops" "student-talks" -}}
    {{- $contentTypesToScan := slice "hacking-hours" "initiatives" -}}

    {{- range where site.RegularPages "Params.author" "!=" nil -}}
    {{- $page := . -}}
    {{- $isRelevantPage := or (in $contentSectionsToScan $page.Section) (in $contentTypesToScan $page.Type) -}}
    {{- if and $isRelevantPage $page.Date (not $page.Date.IsZero) -}}
    {{- $authors := cond (reflect.IsSlice $page.Params.author) $page.Params.author (slice $page.Params.author) -}}
    {{- range $authorName := $authors -}}
    {{- $slug := $authorName | anchorize -}}
    {{- $currentMap := $.Scratch.Get "contributorContent" -}}
    {{- $existingContributions := index $currentMap $slug | default (slice) -}}
    {{- $newContributions := $existingContributions | append $page -}}
    {{- $.Scratch.SetInMap "contributorContent" $slug $newContributions -}}
    {{- end -}}
    {{- end -}}
    {{- end -}}

    {{- $allContributorProfiles := where site.RegularPages "Section" "contributors" -}}
    {{- $contributorContentMap := .Scratch.Get "contributorContent" -}}

    {{- $allYearsSlice := slice -}}
    {{- range $slug, $pages := $contributorContentMap -}}
    {{- range $page := $pages -}}
    {{- $allYearsSlice = $allYearsSlice | append ($page.Date.Format "2006") -}}
    {{- if and (eq (lower $page.Type) "initiatives") $page.Params.legacy -}}
    {{- $dateEndVal := "" -}}
    {{- if isset $page.Params "date_end" }}{{ $dateEndVal = $page.Params.date_end }}{{ else if isset $page.Params "date-end" }}{{ $dateEndVal = index $page.Params "date-end" }}{{ end -}}
    {{- with $dateEndVal -}}
    {{- with time.AsTime . -}}
    {{- range seq ($page.Date.Format "2006" | int) .Year -}}
    {{- $allYearsSlice = $allYearsSlice | append (string .) -}}
    {{- end -}}
    {{- end -}}
    {{- end -}}
    {{- end -}}
    {{- end -}}
    {{- end -}}
    {{- $uniqueYearsSorted := $allYearsSlice | uniq | sort | collections.Reverse -}}

    {{- $contributionSectionDefs := slice
    (dict "id" "blog" "plural" "Blog Posts" "matchField" "Section")
    (dict "id" "workshops" "plural" "Workshops" "matchField" "Section")
    (dict "id" "student-talks" "plural" "Student Talks" "matchField" "Type")
    (dict "id" "hacking-hours" "plural" "Hacking Hours" "matchField" "Type")
    -}}

    {{- range $year_str := $uniqueYearsSorted -}}
    {{- $current_loop_year := int $year_str -}}
    <div class="year-section mb-6">
      <h2 class="text-3xl text-center font-bold mb-10 pb-2">{{ $year_str }} Contributors</h2>
      {{- $contributorsInThisYear := slice -}}
      {{- range $contributorProfilePage := $allContributorProfiles -}}
      {{- $contributorName := $contributorProfilePage.Title -}}
      {{- $slug := $contributorName | anchorize -}}
      {{- with index $contributorContentMap $slug -}}
      {{- $authoredPages := . -}}
      {{- $contributionsThisYearBadges := dict -}}
      {{- $initiativesLedThisYear := slice -}}
      {{- range $contentPage := $authoredPages -}}
      {{- $contentItemStartYear := $contentPage.Date.Format "2006" | int -}}
      {{- $isActualInitiativePage := eq (lower $contentPage.Type) "initiatives" -}}
      {{- $countThisItemForThisYearLoop := false -}}
      {{- if $isActualInitiativePage -}}
      {{- if $contentPage.Params.legacy -}}
      {{- $endYear := $contentItemStartYear -}}
      {{- $dateEndVal := "" -}}
      {{- if isset $contentPage.Params "date_end" }}{{ $dateEndVal = $contentPage.Params.date_end }}{{ else if isset $contentPage.Params "date-end" }}{{ $dateEndVal = index $contentPage.Params "date-end" }}{{ end -}}
      {{- with $dateEndVal -}}{{- with time.AsTime . -}}{{- $endYear = .Year -}}{{- end -}}{{- end -}}
      {{- if and (ge $current_loop_year $contentItemStartYear) (le $current_loop_year $endYear) -}}
      {{- $countThisItemForThisYearLoop = true -}}
      {{- end -}}
      {{- else -}}
      {{- if ge $current_loop_year $contentItemStartYear -}}{{- $countThisItemForThisYearLoop = true -}}{{- end -}}
      {{- end -}}
      {{- else -}}
      {{- if eq $current_loop_year $contentItemStartYear -}}{{- $countThisItemForThisYearLoop = true -}}{{- end -}}
      {{- end -}}
      {{- if $countThisItemForThisYearLoop -}}
      {{- if $isActualInitiativePage -}}
      {{- $initiativesLedThisYear = $initiativesLedThisYear | append $contentPage -}}
      {{- else -}}
      {{- range $def := $contributionSectionDefs -}}
      {{- $matchValue := cond (eq $def.matchField "Section") $contentPage.Section $contentPage.Type -}}
      {{- if eq (lower $matchValue) (lower $def.id) -}}
      {{- $currentCount := index $contributionsThisYearBadges $def.plural | default 0 -}}
      {{- $contributionsThisYearBadges = merge $contributionsThisYearBadges (dict $def.plural (add $currentCount 1)) -}}
      {{- end -}}
      {{- end -}}
      {{- end -}}
      {{- end -}}
      {{- end -}}

      {{- $badgeCount := 0 -}}
      {{- range $key, $value := $contributionsThisYearBadges -}}
      {{- $badgeCount = add $badgeCount $value -}}
      {{- end -}}
      {{- $totalContributionsThisYear := add (len $initiativesLedThisYear) $badgeCount -}}

      {{- if gt $totalContributionsThisYear 0 -}}
      {{- $contributorsInThisYear = $contributorsInThisYear | append (dict
      "profile" $contributorProfilePage
      "badges" $contributionsThisYearBadges
      "initiatives_led" $initiativesLedThisYear
      "has_initiatives_this_year" (gt (len $initiativesLedThisYear) 0)
      "total" $totalContributionsThisYear
      )
      -}}
      {{- end -}}
      {{- end -}}
      {{- end -}}

      {{- $sortedContributorsInThisYear := sort $contributorsInThisYear "has_initiatives_this_year" "desc" "total" "desc" -}}
      {{- if $sortedContributorsInThisYear -}}
      <div class="row">
        {{- range $contribData := $sortedContributorsInThisYear -}}
        <div class="md:col-6 lg:col-4 mb-8 flex flex-col">
          {{- partial "components/author-card.html" (dict
          "context" $contribData.profile
          "variant" "compact"
          "contribution_badges" $contribData.badges
          "initiatives_led" $contribData.initiatives_led
          "total_contributions" $contribData.total
          )
          -}}
        </div>
        {{- end -}}
      </div>
      {{- else -}}
      <p class="italic text-gray-600 dark:text-darkmode-light/80">No contributors with categorized content found for {{ $year_str }}.</p>
      {{- end -}}
    </div>
    {{- end -}}
  </div>
</section>
{{ end }}
