{{$startDate := printf "%sT%s" (.Date.Add 6 | dateFormat "2006-01-02") .Page.Params.start_time }}
{{$endDate := printf "%sT%s" (.Date.Add 6 | dateFormat "2006-01-02") .Page.Params.end_time }}
{{ $offset := "" }}
{{ with .Page.Params.time_zone }}
  {{ if eq . "CET" }}
    {{ $offset = "01:00" }}
  {{ else if eq . "CEST" }}
    {{ $offset = "02:00" }}
  {{ else }}
    {{ $offset = "00:00" }}
  {{ end }}
{{ end }}

{{ $image := "https://open-neuromorphic.org/images/workshop-thumbnail-default.png" }} <!-- set default image first -->
{{ if .Params.image }}
  {{ $image = printf "https://open-neuromorphic.org%s%s" .RelPermalink .Params.image }} <!-- if exists, update to new path -->
{{ end }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Event",
  "name": "{{ .Params.Title }}",
  "startDate": "{{ $startDate }}+{{ $offset }}",
  "endDate": "{{ $endDate }}+{{ $offset }}",
  "eventStatus": "https://schema.org/EventScheduled",
  "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
  "location": {
    "@type": "VirtualLocation",
    "url": "https://youtube.com/@openneuromorphic"
  },
  "image": [{{ $image }}],
  "description": "{{ .Params.Description }}",
  "offers": {
    "@type": "Offer",
    "price": "0"
  },
  "performer": [
    {{ $authors := .Params.author }}
    {{ range $index, $author := $authors }}
    {
      "@type": "Person",
      "name": "{{ $author }}"
    }
    {{ if ne (add $index 1) (len $authors) }},{{ end }}
    {{ end }}
  ],
  "organizer": {
    "@type": "Organization",
    "name": "Open Neuromorphic",
    "url": "https://open-neuromorphic.org"
  }
}
</script>
