{{ $slug := .project_slug }}
{{ $id := .id }}
{{ $project_data := "" }}
{{ range site.Data.community_projects.projects }}
{{ if eq .slug $slug }}
{{ $project_data = . }}
{{ end }}
{{ end }}

{{ if and $project_data (isset $project_data "issues") (gt (len $project_data.issues) 0) }}
<div {{ with $id }}id="{{ . }}"{{ end }} class="mission-board-promo content-panel p-4 my-6 border-l-4 border-primary dark:border-darkmode-primary bg-indigo-50 dark:bg-darkmode-theme-dark/50">
  <h4 class="text-lg font-bold mb-2 text-dark dark:text-darkmode-dark flex items-center">
    {{ partial "icon.html" (dict "style" "solid" "name" "rocket" "class" "mr-2 text-primary dark:text-darkmode-primary") }}
    Help Wanted: Contribute to {{ $project_data.name }}
  </h4>
  <p class="text-sm text-gray-600 dark:text-gray-400 mb-3">
    This project has outstanding issues on our community mission board where your help is needed to move the field forward.
  </p>
  <ul class="list-disc list-inside text-sm space-y-1 pl-1">
    {{ range $project_data.issues }}
    <li>
      <a href="{{ .url }}" target="_blank" rel="noopener" class="styled-link">
        {{- .title -}}
        {{- partial "icon.html" (dict "style" "solid" "name" "arrow-up-right-from-square" "class" "inline-block ml-1.5 align-middle" "width" "0.8em" "height" "0.8em") -}}
      </a>
    </li>
    {{ end }}
  </ul>
  <div class="mt-4 text-right">
    {{ $mission_board_page := site.GetPage "getting-involved/solving-neuromorphic-computings-key-challenges" }}
    {{ if $mission_board_page }}
    <a href="{{ $mission_board_page.RelPermalink }}#{{ $project_data.name | anchorize }}" class="btn btn-sm btn-new-outline">View Full Mission Board &rarr;</a>
    {{ end }}
  </div>
</div>
{{ end }}
