{{ $width := replace (replace (.Get "width") "px" "") "x" "" }}
{{ $height := replace (replace (.Get "height") "px" "") "x" "" }}
{{ $size := "" }}
{{ if or $width $height }}
  {{ $size = printf "%sx%s" $width $height }}
{{ end }}
{{ $alt := .Get "alt" | default (.Get "caption" | plainify) }}
{{ partial "image" (dict
  "Src"     (.Get "src")
  "Alt"     $alt
  "Caption" (.Get "caption")
  "Context" .Page
  "Command" (.Get "command" | humanize)
  "Size"    $size
  "Class"   (.Get "class" | default "m-0 p-4 bg-white rounded")
  "Position" (.Get "position")
  "Option"  (.Get "option")
  "Webp"    (.Get "webp")
  ) }}

{{ if not (.Page.Store.Get "hasLightbox") }}
  {{ .Page.Store.Set "hasLightbox" true }}
  <script>
    window.addEventListener("load", (e) => {
      if (typeof GLightbox !== 'undefined') {
        const lightbox = GLightbox();
      }
    });
  </script>
{{ end }}
