{{ $width := replace (replace (.Get "width") "px" "") "x" "" }}
{{ $height := replace (replace (.Get "height") "px" "") "x" "" }}
{{ $size := "" }}
{{ if or $width $height }}
  {{ $size = printf "%sx%s" $width $height }}
{{ end }}
{{ $zoomableClass := "" }}{{ if eq (.Get "zoomable") "true" }}{{ $zoomableClass = "glightbox" }}{{ end }}
{{ $class := printf "%s %s" (.Get "class" | default "") $zoomableClass }}
{{ partial "image" (dict
  "Src"     (.Get "src")
  "Alt"     (.Get "alt")
  "Caption" (.Get "caption")
  "Context" .Page
  "Command" (.Get "command" | humanize)
  "Size"    $size
  "Class"   $class
  "Position" (.Get "position")
  "Option"  (.Get "option")
  "Webp"    (.Get "webp")
  ) }}

{{ if not (.Page.Store.Get "hasLightbox") }}
  {{ .Page.Store.Set "hasLightbox" true }}
  <script>
    window.addEventListener("load", (e) => {
      if (typeof GLightbox !== 'undefined') {
        const lightbox = GLightbox();
      }
    });
  </script>
{{ end }}
