{{ $videoPath:= .Get `src` }}
{{ $width:= .Get `width` }}
{{ $height:= .Get `height` }}
{{ $autoplay:= .Get `autoplay` | default `false` }}
{{ $loop:= .Get `loop` | default `false` }}
{{ $muted:= .Get `muted` | default `false` }}
{{ $controls:= .Get `controls` | default `true` }}
{{ $class:= .Get `class` }}
{{ $poster:= .Get `poster` }}

{{ $finalVideoPath := "" }}
{{ if hasPrefix $videoPath "http" }}
  {{ $finalVideoPath = $videoPath }}
{{ else if fileExists (add `assets/` $videoPath) }}
  {{ $finalVideoPath = (resources.Get $videoPath).RelPermalink }}
{{ else }}
  {{ $finalVideoPath = print "/" $videoPath }}
{{ end }}

{{ if $finalVideoPath }}
  <video
    {{ with $width }}width="{{ . }}"{{ end }}
    {{ with $height }}height="{{ . }}"{{ end }}
    {{ if eq $autoplay `true` }}autoplay{{ end }}
    {{ if eq $loop `true` }}loop{{ end }}
    {{ if eq $muted `true` }}muted{{ end }}
    {{ if eq $controls `true` }}controls{{ end }}
    {{ with $poster }}poster="{{ . }}"{{ end }}
    class="{{ $class }}"
    style="max-width:100%">
    <source src="{{ $finalVideoPath }}" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
{{ end }}
