{{ define "main" }}
{{ partial "page-header" . }}

<section class="section pt-14">
  <div class="container">
    <div class="row">
      <!-- First entry with 8-column width -->
      {{ with index (where .Site.RegularPages "Params.upcoming" "ne" true) 0 }}
      <div class="lg:col-8 mb-14">
        {{ partial "components/session-card-video" . }}
      </div>
      {{ end }}
      <!-- 4-column placeholder -->
      <div class="lg:col-4 mb-14">
        <div class="px-7 pt-7 bg-theme-light dark:bg-darkmode-theme-light rounded">
          <h3 class="pb-5 text-xl">Upcoming Workshops</h3>
          {{ partial "components/upcoming-events" . }}
          <div class="text-right pb-5"> <!-- Right-align the button -->
            <a href="/getting-involved/" class="btn-primary btn-sm btn">Host a workshop</a>
          </div>
        </div>
      </div>
      </div>
    <div class="row">
      <!-- Remaining entries with 4-column width -->
      {{ $pagesWorkshop := index (where .RegularPages "Params.upcoming" "ne" true) }}
      {{ $paginator := .Paginate $pagesWorkshop }}
      {{ $skipFirst := true }}
      {{ range $paginator.Pages }}
      {{ if $skipFirst }}
      {{ $skipFirst = false }}
      {{ else }}
      <div class="md:col-4 mb-14">
        {{ partial "components/session-card" . }}
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
