{{ define "main" }}
{{ partial "page-header" . }}

<section class="section pt-7">
  <div class="container">
    <article class="row justify-center">
        <div class="lg:col-7">
          {{ $image:= .Params.image }}
          {{ if .Params.video }}
          <div class="mb-3">
            {{ partial "youtube-lite.html" (dict "Id" .Params.video ) }}
          </div>
          {{ else if $image }}
          <div class="mb-3">
            {{ partial "image2" (dict "Src" $image "Alt" .Title "Class" "w-full rounded") }}
          </div>
          {{ end }}
          <ul class="mb-4">
            <li class="mr-4 inline-block">
              <i class="fa-regular fa-circle-user mr-2"></i
              >{{ .Params.author }}
            </li>
            <li class="mr-4 inline-block">
              <i class="fa-regular fa-clock mr-2"></i>
              {{ time.Format ":date_long" .PublishDate }}
            </li>
          </ul>
          {{ .Description }}
        </div>
        <div class="bg-theme-light dark:bg-darkmode-theme-light rounded lg:col-5 mb-14">
          <h3 class="pb-5 pt-5 text-xl">Upcoming Workshops</h3>
          {{ partial "components/upcoming-events" . }}
          <div class="text-right"> <!-- Right-align the button -->
            <a href="/getting-involved/" class="btn-primary btn-sm btn">Host a workshop</a>
          </div>
        </div>

        <div class="content mb-10">
          {{ .Content }}
        </div>
        <div class="row items-start justify-between">
          <div class="lg:col-12 flex items-center">
            {{ partial "social-share" (dict "Context" . "Class" "share-icons" "Title" (i18n "share") "Whatsapp" false
            "Telegram" false) }}
          </div>
        </div>
        <!-- comments -->
        {{ if site.DisqusShortname }}
        <div class="mt-20">
          {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
    </article>

    <!-- Related posts -->
    {{ $related := (where site.RegularPages "Section" "in" site.Params.mainSections) | intersect (where
    site.RegularPages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) }}
    {{ $related = $related | shuffle | first 3 }}
    {{ with $related }}
    <div class="section pb-0">
      <h2 class="h3 mb-12">{{ i18n "related_posts" }}</h2>
      <div class="row">
        {{ range . }}
        <div class="lg:col-4">
          {{ partial "components/blog-card" . }}
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
